*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    min-height:100%;
}

body{
    font-family:Consolas, monospace;
    background:#050505;
    color:#00ff88;

    display:flex;
    align-items:center;
    justify-content:center;

    min-height:100vh;
    min-height:100dvh;

    padding:20px;
}

.container{
    width:100%;
    max-width:750px;
}

#terminal{
    white-space:pre-wrap;
    font-size:20px;
    line-height:1.7;
    min-height:300px;
}

#terminal::after{
    content:"▋";
    animation:blink .8s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

#buttons{
    display:flex;
    gap:16px;
    flex-wrap:wrap;
    margin-top:30px;
}

button{
    background:transparent;
    border:2px solid #00ff88;
    color:#00ff88;
    padding:12px 24px;
    cursor:pointer;
    border-radius:8px;
    font-size:18px;
}

button:hover{
    background:#00ff88;
    color:#000;
}
